{
  "presets": [
    [
      "@babel/env", {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-react-jsx",
        {
        "pragma":"h", "pragmaFrag": "\"div\""
      }
    ]
  ]
}
