body {
  margin: 0;
  font-family: Roboto;
  color: #1B1D1D;
}

header {
  ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
  }
}

main {
  padding: 0 3rem;
}

.card {
  display: inline-block;
  margin: 1rem;
  width: 12rem;
  text-align: center;
}

.purple {
  color: #D36AC2;
}
